	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Erjang</a></h1>
		</div>
		<div id="banner"><img src="images/img01.jpg" width="667" height="118" alt="" /></div>
	</div>
	<div id="menu" class="container">
		<ul>
			<li class="active"><a href="#">Home</a></li>
			<li><a href="archives.html">Archives</a></li>
			<!--  li><a href="#">Links</a></li>
			<li><a href="#">Resources</a></li>
			<li><a href="#">Contact</a></li-->
		</ul>
	</div>
	<div id="top-bar" class="container">
		<div class="bar">
			<div class="text">Erjang documentation site. You can find the Java DOC documentation for the project 
	<a href="docs/api/index-all.html">here</a>
			</div>
			<div id="search">
				<form method="get" action="">
					<fieldset>
						<input type="text" name="query" value="" class="input-text" />
						<input type="submit" value="Search" class="input-submit" />
					</fieldset>
				</form>
			</div>
		</div>
	</div>
